@page
@model pruebaMediaMarkt.Pages.ProdcutosModel

@{ViewData["Title"] = "Productos";
}
<h1>@ViewData["Title"]</h1>
<br />

<h2>Lista de productos</h2>
<div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="bg-aqua-gradient">
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Familia</th>
                </tr>
            </thead>


            @foreach (var item in Model.listaProductos)
            {
            <tbody>
                <tr>
                    <td>@item.Nombre</td>
                    <td>@item.Descripcion</td>
                    <td>@item.Precio</td>
                    <td>@item.Familia</td>
                </tr>
            </tbody>

            }

        </table>
    </div>